TUNNEL_KEY_PATH=/path/to/private/tunnel/key
TUNNEL_SERVER=ingress.nixc.us:2222
TUNNEL_DOMAIN=mail.boompay.ca
TUNNEL_DOMAIN_LEGACY=mail.nixc.us
TUNNEL_DOMAIN_WKD=openpgpkey.boompay.ca
TUNNEL_DOMAIN_WKD_NIXC=openpgpkey.nixc.us
TUNNEL_PORT=8888
TUNNEL_BACKEND_TLS=plain
TUNNEL_LABELS=traefik.http.routers.{router}.tls.options=tunnel-http1@file
BRAND_HOST_MAP=mail.boompay.ca=boompay;mail.nixc.us=mrc
BRAND_ALLOW_THEMES=0
